@import "https://fonts.googleapis.com/css?family=Poppins";

* {
  box-sizing: border-box;
  font-family: "Poppins";
}

body {
  background-color: #edeef6;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  padding: 20px;
}

button {
  background-color: #47a386;
  color: white;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 10px 25px;
  font-size: 14px;
}

.modal-container {
  /* display: none; */
  opacity: 0;
  pointer-events: none;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.3);
  transition: opacity 0.3s ease;
}

.modal-container.show {
  pointer-events: auto;
  opacity: 1;
}

.modal {
  border-radius: 5px;
  padding: 30px 50px;
  background-color: white;
  width: 600px;
  max-width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;

  height: 300px;
  overflow-y: auto;
}

.modal h1 {
  margin: 0;
}

.modal p {
  font-size: 14px;
  opacity: 0.7;
}

input[type="text"] {
  padding: 10px;
  width: 50%;
  outline: none;
  border: 1px solid white;
  border-radius: 10px;
}

input[type="text"]:focus {
  font-size: 1.2rem;
  outline: none;
  background: rgba(0, 120, 250, 0.1);
  transition: transform 0.2s ease;
}

dialog {
  max-width: 500px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
}

textarea {
  margin: 15px auto;
  outline: 2px solid #ddd;
  border: 0;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}

.file {
  background-color: #fff;
  outline: 2px solid #ddd;
  border: 0;
  padding: 8px;
  border-radius: 5px;
  margin-left: 5px;
}

button,
textarea,
.file {
  cursor: pointer;
}

textarea:hover,
textarea:focus,
.file:hover,
.file:focus {
  outline: 2px solid #47a386;
  border: 0;
}

.dialog-form {
  margin-top: 10px;
}

.images img {
  overflow: contain;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 0 auto;
  margin-bottom: 10px;
  width: 100%;
  height: auto;
}

.images {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px
}
